@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.hero-sec {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.my-desc {
  width: 30%;
  display: flex;
  flex-direction: 1;
  flex-direction: column;
  padding: 80px 80px;
  color: #fff;
  backdrop-filter: blur(15px);
  background-color: #ffffff04;
  z-index: 20;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 100px 100px;
  
}

.my-desc h1 {
  color: #5db443;
  font-size: 60px;
}

.my-desc h2 span {
  color: #5db443;
}
.my-desc p {

  font-weight: 900;
}
header {
  font-size: 13px;
  padding: 10px 50px 20px;
  z-index: 30;
  position: fixed;
  top: 0;
}
header nav ul {
  display: flex;
  list-style: none;
  padding: 0px 20px;
  font-weight: 700;
}
header nav ul li {
  padding: 0 10px;
  color: #fff;
  cursor: pointer;
}

.sidebar {
  width: 80px;
  height: 100vh;
  background-color: rgb(245, 245, 224, 0.4);
  top: 0;
  left: 100%;
  transform: translateX(-100%);
  position: fixed;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  z-index: 20;
  font-size: 10px;
  padding: 10px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar ul li {
  padding: 5px 40px;
  cursor: pointer;
}
.education-sec {
  height: 100vh;
  width: 100vw;
  z-index: 20;
  background-color: transparent;
  position: relative;
}
.education-sec h1 {
  text-align: center;
}
.techstack {
  height: 100vh;
}

.education-sec .container {
  padding: 200px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.edu-card {
  padding: 50px 50px;
  position: relative;
}
.edu-card::before {
  content: '';
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: #5db443;
  border-radius: 50%;
  transform: translate(-150%, -10%);

}
.edu-card p {
  margin: 0;
  
}
.edu-card .yr p {
  font-size: 14px;
  color: grey;
}
.edu-card p {
  font-size: 20px;
}