@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --blue--: #2b82cf;
  --red--: #b20e34;
  --yellow--: #ffd166;
  --blackhole--: #2a2a27;
  --dark--: #000000;
}

body {
  font-family: "Montserrat", sans-serif;
}

.hero-sec {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.my-desc {
  width: 30%;
  display: flex;
  flex-direction: 1;
  flex-direction: column;
  padding: 80px 80px;
  color: #fff;
  backdrop-filter: blur(15px);
  background-color: #ffffff04;
  z-index: 20;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 100px 100px;
}

.my-desc h1 {
  color: #5db443;
  font-size: 60px;
}

.my-desc h2 span {
  color: #5db443;
}
.my-desc p {
  font-weight: 900;
}
header {
  font-size: 13px;
  padding: 10px 50px 20px;
  z-index: 30;
  position: fixed;
  top: 0;
}
header nav ul {
  display: flex;
  list-style: none;
  padding: 0px 20px;
  font-weight: 700;
}
header nav ul li {
  padding: 0 10px;
  color: #fff;
  cursor: pointer;
}

.sidebar {
  width: 80px;
  height: 100vh;
  background-color: rgb(245, 245, 224, 0.4);
  top: 0;
  left: 100%;
  transform: translateX(-100%);
  position: fixed;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  z-index: 20;
  font-size: 10px;
  padding: 10px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar ul li {
  padding: 5px 40px;
  cursor: pointer;
}
.education-sec {
  height: 100vh;
  width: 100vw;
  z-index: 20;
  background-color: transparent;
  position: relative;
  overflow-x: hidden;
}
.education-sec h1 {
  text-align: center;
}

.education-sec .container {
  padding: 200px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.edu-card {
  padding: 100px 80px;
  position: relative;
  margin: 5px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.32);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(63, 221, 200, 0.1);
  backdrop-filter: blur(10.4px);
  -webkit-backdrop-filter: blur(10.4px);
  border: 1px solid rgba(91, 101, 216, 0.3);
  display: flex;
  flex-direction: column;
  flex: 1;
}
.edu-card::before {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: #5db443;
  border-radius: 50%;
  transform: translate(-150%, -10%);
}
.edu-card p {
  margin: 0;
}
.edu-card .yr p {
  font-size: 14px;
  color: grey;
}
.edu-card p {
  font-size: 20px;
}
.education-sec .building {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(100%, 0);
}

.techstack {
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  z-index: 19;
}
.techstack .container {
  padding: 200px 0px;
  display: flex;
  flex-grow: 1;
}
.techstack h1 {
  text-align: center;
  width: 100vw;
}

.techstack .img-cont {
  height: 300px;
  width: 300px;
  flex-shrink: 0;
  margin: 30px;
  cursor: pointer;
}
.techstack .img-cont img {
  height: 100%;
  width: 100%;
}

.glow {
  color: #686565;
  text-shadow: 0 0 10px #797676, 0 0 20px #12403c, 0 0 30px #00ffea,
    0 0 40px #00ffea, 0 0 50px #00ffea, 0 0 60px #00ffea, 0 0 70px #00ffea;
  animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px #4d4646, 0 0 20px #143b38, 0 0 30px #00ffea,
      0 0 40px #00ffea, 0 0 50px #00ffea, 0 0 60px #00ffea, 0 0 70px #00ffea;
  }
  100% {
    text-shadow: 0 0 20px #4d4646, 0 0 30px #0a2d2a, 0 0 40px #00ffea,
      0 0 50px #00ffea, 0 0 60px #00ffea, 0 0 70px #00ffea, 0 0 80px #00ffea;
  }
}

.project {
  z-index: 19;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.project h1 {
  text-align: center;
}

.project .container {
  width: 100vw;

  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  box-sizing: content-box;
  overflow: hidden;
}
.mask {
  height: 100vh;
  overflow: hidden;
}
.column {
  display: flex;
  flex-flow: column nowrap;
  transition: all 0.5s ease-in;
  position: relative;
}
.right.column {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}
.left {
  width: 35%;
}
.right {
  width: 65%;
}
.content {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  padding: 0px 40px;
}
.content h2 {
  color: white;
  font-weight: 600;
  font-size: 50px;
  position: relative;
}
.content h3 {
  color: white;
}
.content p {
  font-size: 18px;
  color: white;
}
.content a {
  background-color: white;
  padding: 10px 30px;
  border-radius: 25px;
  text-decoration: none;
}

.pic {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  backdrop-filter: blur(5px);
}

.project .content h2::after {
  content: "";
  display: inline-block;
  width: 36px;
  height: 36px;
  background-image: url("/public/open_link_icon.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  position: absolute;
  cursor: pointer;
}

.full {
  height: 100vh;
  width: 100vw;
  background-color: #4d4646;
  position: relative;
  z-index: 19;
}
.tech-cont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
}
.tech-chip {
  color: white;
  background-color: rgb(53, 10, 57);
  padding: 8px;
  border-radius: 8px;
  margin: 5px;
  cursor: pointer;
}

.tech-chip:hover {
  background-color: rgb(40, 7, 43);
}
